k_data/glove*
rikmodel/glove*
maxima-code/
*.vector_cache/
model/GloVe-1.2
model/saved_models/
seq2seq_model/.vector_cache/
model/saved_modelstest/
dist/
glove/
seq2seq_model/experiment/
pytorch-seq2seq/*
OpenNMT-py/*
OpenNMT-py.original/*
tencent/models/*
sni/model/.vector_cache/
*/.vector_cache/
*/saved_models/*
